In [38]:
import pandas as pd
import os

pop = pd.read_csv("statepop.csv")
area = pd.read_csv("stateareas.csv")
abbr = pd.read_csv("stateabbr.csv")

temp = pd.merge(abbr, area, left_on=["state"], right_on=["state"], how='right')
states = temp.join(pop)
states

                   state  abbreviation  area (sq. mi) abbreviation  population
0                Alabama            AL          52423           AK    735132.0
1                 Alaska            AK         656425           AZ   6626624.0
2                Arizona            AZ         114006           AR   2959373.0
3               Arkansas            AR          53182           CA  38332521.0
4             California            CA         163707           CO   5268367.0
5               Colorado            CO         104100           CT   3596080.0
6            Connecticut            CT           5544           DE    925749.0
7               Delaware            DE           1954           DC    646449.0
8                Florida            FL          65758           FL  19552860.0
9                Georgia            GA          59441           GA   9992167.0
10                Hawaii            HI          10932           HI   1404054.0
11                 Idaho            ID          83574           ID   1612136.0
12              Illinois            IL          57918           IL  12882135.0
13               Indiana            IN          36420           IN   6570902.0
14                  Iowa            IA          56276           IA   3090416.0
15                Kansas            KS          82282           KS   2893957.0
16              Kentucky            KY          40411           KY   4395295.0
17             Louisiana            LA          51843           LA   4625470.0
18                 Maine            ME          35387           ME   1328302.0
19              Maryland            MD          12407           MD   5928814.0
20         Massachusetts            MA          10555           MA   6692824.0
21              Michigan            MI          96810           MI   9895622.0
22             Minnesota            MN          86943           MN   5420380.0
23           Mississippi            MS          48434           MS   2991207.0
24              Missouri            MO          69709           MO   6044171.0
25               Montana            MT         147046           MT   1015165.0
26              Nebraska            NE          77358           NE   1868516.0
27                Nevada            NV         110567           NV   2790136.0
28         New Hampshire            NH           9351           NH   1323459.0
29            New Jersey            NJ           8722           NJ   8899339.0
30            New Mexico            NM         121593           NM   2085287.0
31              New York            NY          54475           NY  19651127.0
32        North Carolina            NC          53821           NC   9848060.0
33          North Dakota            ND          70704           ND    723393.0
34                  Ohio            OH          44828           OH  11570808.0
35              Oklahoma            OK          69903           OK   3850568.0
36                Oregon            OR          98386           OR   3930065.0
37          Pennsylvania            PA          46058           PA  12773801.0
38          Rhode Island            RI           1545           RI   1051511.0
39        South Carolina            SC          32007           SC   4774839.0
40          South Dakota            SD          77121           SD    844877.0
41             Tennessee            TN          42146           TN   6495978.0
42                 Texas            TX         268601           TX  26448193.0
43                  Utah            UT          84904           UT   2900872.0
44               Vermont            VT           9615           VT    626630.0
45              Virginia            VA          42769           VA   8260405.0
46            Washington            WA          71303           WA   6971406.0
47         West Virginia            WV          24231           WV   1854304.0
48             Wisconsin            WI          65503           WI   5742713.0
49               Wyoming            WY          97818           WY    582658.0
50  District of Columbia            DC             68          NaN         NaN